@import 'tailwindcss';

html,
body {
  background: #ecf2fe;
  font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (max-width: 970px) {
  .pc-hidden {
    display: none;
  }
  .mb-full {
    width: 100%;
  }
}
@media screen and (min-width: 970px) {
  .pc-hidden {
  }
  .mb-full {
    width: 375px;
  }
}
